<!DOCTYPE html>

<html>
    <head>
        <title>Достопримечательности Нукус</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Достопримечательности Нукуса</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>


    <body>
            <div class="header">
                <img class="imgBackground imgHeader1" src="static/emblem.svg"/>
                <img class="imgBackground imgHeader2" src="static/Флаг_Каракалпакстана.jpg"/>
                <h3><strong>Достопримечательности города Нукус</strong></h3>
           </div>
            <div class ="navigation"> 
                <a href="/Home">Главная</a>
                <a href="/blocks">Карточки</a>
                <a href="/attractions">Достопримечательности</a>
                <a href="/NationalCuisine">Национальная кухня</a>
                <a class="right" href="/">Авторизация</a>
            </div>

        <div class="side">
            <nav class="Spisok">
                <h2>Навигация по сайту:</h2>
                    <ul>
                        <a href="#musei"> <li>Каракалпакский музей искусств имени И.В.Савицкого</li> </a> 
                        <a href="#kladbishe"> <li>Mizdakhan Necropolis</li> </a>   
                        <a href="#Muynak"> <li>Муйнак</li> </a>
                        <a href="#Chilpik"> <li>Дахма Чилпык</li> </a>
                    </ul>
            </nav>

            <pre>       </pre>
            <pre>        </pre>
            <div>
                <h2 id="musei">Каракалпакский музей искусств имени И.В.Савицкого</h2>
                <div class="blockImages">
                    <img class="images" src="https://www.afisha.uz/uploads/media/2023/10/564a1b52a6710448e27994d14e35c6b4_l.jpg" alt="img1">
                    <img class="images" src="https://www.afisha.uz/uploads/media/2023/10/92eaf81b9b7e6539a0edef768bc8b59f_lf.jpg" alt="img2">
                </div>

            </div>
            <p>Искусствоведы со всего мира отдельно отмечают ценность данного места и приравнивают его к <span>Лувру</span>.
                Уникальность музея в том, что его основатель – <span>Игорь Савицкий</span>, отбросив «все установки и штампы»,
                создал ни на что не похожий в те времена музей. Из чего состоит экспозиция, почему его называют 
                <span>«Лувром в пустыне»</span> и что известно о картине <span>«Бык»</span>.</p>

            <p>Государственный музей искусств Республики Каракалпакстан им. И.Савицкого является <span>самым притягательным местом</span> в Каракалпакстане.
                Он носит имя своего основателя и первого директора — художника Игоря Витальевича Савицкого, который впервые попал в Каракалпакстан
                в составе <span>Хорезмской археолого-этнографической экспедиции</span>. Собирая предметы народно-прикладного искусства, он на всю жизнь «влюбился» в Каракалпакстан.</p>

            <p>По его инициативе в 1966 году создается музей искусств, для которого Савицкий до конца своей жизни искал и находил новые шедевры.
                В 2002 году Савицкий посмертно награжден орденом <span>«Буюк хизматлари учун» («За великие заслуги»)</span> первым президентом Узбекистана <span>Исламом Каримовым</span>.
            </p>    
            <pre>

            </pre>
                <div class="text">
                    Музей расположен в центре Нукуса. Его коллекция насчитывает около <span>100 000 экспонатов</span>. Экспозиции разделены по трем основным разделам: <span>«Изобразительное»,
                    «Народно-прикладное искусство Каракалпакстана» и «Искусство Древнего Хорезма»</span>.В музее хранятся около <span>10 000</span> предметов народно-прикладного искусства конца XIX—XX вв.
                    Это: предметы быта, ковровые изделия, конское снаряжение, изделия из дерева, традиционная одежда и украшения, среди которых знаменитые тобелик и саукеле — традиционные 
                    оловные уборы каракалпачек. Богато представлены <span>ювелирные украшения</span> каракалпаков, узбеков, казахов и туркмен.
                </div>
                <img src="https://www.afisha.uz/uploads/media/2023/10/ac98b4d0bc783b9830df24ba59896bf3_lf.jpg"/>
            <p class="perehod">           </p>
            <pre>
 
            </pre>
            <h2 id="kladbishe">Mizdakhan Necropolis</h2>
                <img src="https://img-fotki.yandex.ru/get/47606/50083820.4e5/0_11077c_6c467fde_orig">
                <p><span>Миздахан Некрополис</span></p>
            <p> <span>Миздакхан</span> – это целый комплекс историко-археологических памятников, вершина западного холма увенчана руинами крепости <span>Гяур-кала</span>,
                построенной в IV веке до нашей эры. <span>Миздакхан</span> – ранее древний город, ныне археологический и архитектурный комплекс.
                Главные достопримечательности сосредоточены на <span>3 холмах и равнине</span> между ними. Историческую ценность представляет крепость <span>Гяур-кала</span>,
                <span>«мировые часы»</span> и многочисленные мавзолеи, один из которых принадлежит полумифическому богатырю и магу <span>Шамун-Наби</span>.
            </p>

            <p> <span>Мировые часы</span> или <span>часы Апокалипсиса</span> нарекли мавзолей на предполагаемой могиле первого человека.
                Сооружение относится к IX веку. Крыша его давно провалилась, также нет одной из стен. Здание постепенно осыпается: 
                согласно преданию каждый год из конструкции выбывает 1 кирпич. Это же придание утверждает, что как только с мавзолея 
                падет последний камень, на Земле воцарится <span>хаос и разруха</span> – наступит < <span>Апокалипсис</span>.Чтобы отдалить <span>приход Конца Света</span>,
                местные жители и туристы возвращают упавшие кирпичи в зияющие дыры в стенах сооружения. Из отколовшихся от кирпичей кусков
                паломники воздвигают вокруг мавзолея небольшие пирамидки. В каждой такой конструкции должно быть по <span>7 камушков</span>, по числу
                небесных ангелов или по числу куполов, которые возвышаются над гробницей волшебника <span>Шамуна-Наби</span>.
                Составляя пирамидку необходимо загадать желание и попросить Всевышнего исполнить его.
            </p>
            <div class="bloskImages">
                <img class="images" src="https://snovadoma.ru/upload/new/files/3040/mizdakhan11.jpg">
                <img class="images" src="https://snovadoma.ru/upload/new/files/3040/mizdakhan18.jpg">
            </div>
            <p><span>Шамун-Наби</span> – легендарный проповедник, маг и бесстрашный воин. Он прибыл в земли <span>Хорезма</span> (древнейшей области Центральной Азии),
                чтобы проповедовать местным народам о Едином Боге. Герой сказаний обладал шаманскими способностями: ему были подвластны силы природы,
                он умел разговаривать на языке животного мира, исцелял недуги. До сих пор неизвестно вестником какой религии был Шамун.
                Ясно только одно, что этот полуисторический персонаж появился задолго до прихода в эту местность ислама. 
                Гробница богатыря имеет <span>высокий портал</span> и простирается на <span>25 м</span> в длину. Занятно, что когда посмертная почивальня была вскрыта
                археологами, никаких человеческих останков обнаружено не было. Ученые выяснили, что это сооружение воздвигнуто в конце XVIII на 
                развалинах более древней постройки XVI века.
            </p>
            <pre>      
                  </pre>
            <p class="perehod">           </p>
            <pre>        </pre>
            <pre>        </pre>

            <h2 id="Muynak">Муйнак</h2>
                <img src="https://avatars.mds.yandex.net/i?id=174520b19a56e02e531ede5c287b79e9582580c7-4571836-images-thumbs&n=13">
                <p><span>Муйнак</span></p>

            <p>В начале XX века <span>Муйнак</span> был крупным портовым селением, здесь кипела жизнь. <span>Рыбная</span> промышленность в Муйнаке процветала. Потомственные муйнакские рыбаки рассказывали, что их профессия <span>была очень востребованной</span>. Да настолько, что сюда приезжали рыбаки из других республик <span>Советского Союза</span>. Здесь обитало много видов промысловых рыб. Муйнак снабжал рыбными консервами не только города Узбекистана, но и города других советских республик.</p>
            <p>В 1963 году <span>Муйнак</span> получил статус города. Говорят, что когда-то здесь были <span>санатории и дома отдыха</span>. По <span>Аральскому морю</span> ходили торговые и рыболовецкие судна. Но потом Арал стал <span>высыхать</span>. Говорят, что море отдалилось от Муйнака за одну ночь. Художник <span>Рафаэль Матевосян</span> запечатлел это в картине <span>«Море ушло»</span>, полотно можно увидеть в краеведческом музее Муйнака.</p>

            <p>Сегодня Арал обмелел почти на <span>90%</span>. На территории бывшего моря возникла пустыня <span>Аралкум</span>. Жители Муйнака и окрестных селений стали чаще болеть.</p>
            <p>Муйнак посещали <span>Генеральные секретари ООН Пан Ги Мун и Антониу Гуттериш</span>. В 2021 году Генеральная ассамблея ООН объявила Приаралье зоной <span>экологических инноваций и технологий</span>. Инициатором выступил Узбекистан. Теперь на территориях в 2 миллиона гектаров будут обновлять почву и высаживать новые леса.</p>
            <p>С 2017 по 2022 год на кладбище кораблей и бывшей пристани проходил музыкальный фестиваль <span>«Стихия»</span>, и возможно в будущем он повторится здесь вновь.</p>
            <p>В 2018 году в Муйнакском районе открыли <span>газовое месторождение</span>.</p>

            <p>Здесь же расположено знаменитое кладбище кораблей. Когда Арал обмелел, корабли и лодки, которые были пришвартованы у причала, 
                остались на песчаном морском дне. С годами они подверглись коррозии и потеряли свой величественный вид. Это печальное зрелище наводит
                на мысли о том, что человек может уничтожить своими руками целый мир.
            </p>

                <pre>           </pre>

            <pre>       </pre>
            <pre>        </pre>
            <h2 id="Chilpik">Дахма Чилпык</h2>
                <img src="https://www.orexca.com/img/uzbekistan/karakalpakstan/chilpyk.jpg">
                <p><span>Дахма Чилпык</span></p>
            <p>Дахма Чилпык, возраст которой составляет более 2 000 лет, является символом древней истории и изображена на гербе республики Каракалпакстан. 
                Её название до сих пор окончательно не расшифровано. Одни считают, что это просто аллитерация, отражение плеска волн Аму-Дарьи, 
                другие склоняются к персидской трактовке, по которой Чилпык переводится как «сорок праведников».</p>

            <p>Башня находится в 45 километрах к югу от города Нукус, недалеко от трассы на Турткуль. Этот памятник зороастрийской культуры был обнаружен в 1940 году
                во время археологической экспедиции, которую возглавлял советский археолог и этнограф Сергей Павлович Толстов.</p>
                
            <p>Пятнадцатиметровая башня Чилпык расположена на вершине природного 35-метрового холма конической формы. 
                Круглое строение из пахсовых кирпичей, характерных для античного периода, достигает в диаметре 80 метров. 
                Толщина стен у основания составляет 5 метров, наверху - от 2 до 3 метров. Вход в башню находится на северо-западе.</p>

            <div class="blockImages">
                <img class="images" src="https://www.orexca.com/img/uzbekistan/karakalpakstan/chilpyk3.jpg">
                <img class="images" src="https://www.orexca.com/img/uzbekistan/karakalpakstan/chilpyk4.jpg">
            </div>
            <p>Её дважды перестраивали. В первый раз в VII-VIII веках после прихода арабов, и во второй раз в IX-X веках в период расцвета древнего Хорезма. 
                Предположения некоторых исследователей о том, что во время правления Хорезмшахов её использовали в оборонительных целях, 
                не выдерживает критики. В строении нет башен, бойниц и места для размещения людей. Здесь даже нет следов человеческого пребывания. 
                Она не похожа ни на одну из крепостей древнего Хорезма, лишь очень отдаленно напоминает Аяз-Калу. 
                Раньше на башню вела лестница из прорубленных прямо в холме ступеней, длиною в 20 метров. Здесь был переход в сторону Аму-Дарьи.</p>
            
            <p>Благодаря найденным рядом с башней и внутри неё оссуариям, можно предположить, что строение использовали для совершения обрядов захоронения. 
                На предназначенных для свершения ритуала суфах укладывали покойников, оставляя тела птицам и солнцу. 
                Согласно философии зороастризма, осквернение природы мертвыми телами считалось большим грехом. Усопших нельзя было сжигать или закапывать. 
                Поэтому тела относили на высокую гору, и оставляли там, в полной тишине и молчании. Много позже, кости собирали в оссуарии, 
                которые либо закапывали в землю, либо оставляли в склепах-наусах. Такой способ захоронения описан еще в Авесте и у Геродота.</p>
                
            <p>Можно с определённой долей уверенности утверждать, что Чилпык не крепость, а дахма – «башня молчания». С ней связан ряд легенд.
                 По одной из них, здесь когда-то спасалась от гнева отца принцесса, влюбившаяся в своего раба. По другой - башня была построена богатырем Чилпыком,
                  а холм образовался из глины, выпавшей из рук великана.</p>

                <img src="https://www.orexca.com/img/uzbekistan/karakalpakstan/chilpyk1_sm.jpg">

            <p>Нет никаких подтвержденных исторических фактов, однозначно раскрывших тайну этой башни. То, что вы почувствуете, поднимаясь к этому строению,
                созданному еще до наступления нашей эры, всецело зависит от вашей фантазии и умения мысленно путешествовать во времени. </p>
           
            <p>В Каракалпакстане много уникальных мест, созданных природой, неповторимых и особенных, посетив которые, вы получите способность видеть мир в другом измерении. 
                Через призму этого опыта, вы будете иначе воспринимать все, в том числе и «башню молчания».</p>
                
            <p>Чилпык лучше посещать утром, до наступления жары. С возвышения можно наблюдать за восходом солнца, а также увидеть и сфотографировать Аму-Дарью и её окрестности. 
                На Чилпыке установлена тренога, указывающая самую высокую точку местности. Жители верят, что если привязать к ней ленточку и загадать желание,
                то оно непременно исполнится. Собираясь посетить Чилпык, обязательно захватите еду и воду, так как инфраструктура там пока не развита.</p>      
        </div>
        </div>

            <div class="footer">
            <h3>© Лучший сайт лучшей республики Каракалпакстан</h3>
            <h3>Создатель: Жарылкаганов Нурмухаммед </h3>
            <h4>Поблагодарить его за прекрасное детство можно по этим контактам:</h4>
            <p>2200 7009 5288 4079</p>
    </div>
    </body>
</html>