<!DOCTYPE html>

<html>
    <head>
        <title>Национальная кухня Каракалпакстана</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css">
    </head>


    <body>
            <div class="header">
                <img class="imgBackground imgHeader1" src="static/emblem.svg"/>
                <img class="imgBackground imgHeader2" src="static/Флаг_Каракалпакстана.jpg"/>
                <h3><strong>Национальная кухня Каракалпакстана</strong></h3>
            </div>
            <nav class = "navigation"> 
                <a href="/Home">Главная</a>
                <a href="/blocks">Карточки</a>
                <a href="/attractions">Достопримечательности</a>
                <a href="/NationalCuisine">Национальная кухня</a>
                <a class="right" href="/">Авторизация</a>
            </nav>
        <div class= "side">
            <h2>Национальная кухня</h2>
            <p>Из мясных блюд здесь употребляют говядину, баранину, верблюжатину, конину, мясо кроликов и домашней птицы. Больше всего в ходу <span>баранина и говядина</span>. Так как каракалпаки <span>мусульмане</span> по вероисповеданию, то они не едят блюда из свинины.</p>
            <p>В первые и вторые блюда как составная часть или как гарнир идут джугара, маш, джугаровая мука, просо, рис, фасоль, сорго и другие злаковые культуры. Много потребляется картофеля, овощей.</p>
            <p>Основные способы тепловой обработки — <span>варка и жаренье</span>. Широко распространены комбинации из мяса и отварного теста. Часто каракалпакская еда представляет собой смесь жареного мяса с отварным тестом.</p>
            <p>Наиболее распространённые блюда — <span>гуртик, плов, лагман, манпар, шавля, манты, самса, пельмени, шорпа, суп-машаба, суп-лапша в бульоне</span></p>
            <p>Почти все блюда подают с лепёшками из пшеничной муки.</p>
            <p>Еду запивают чаем — <span>зелёным</span> или <span>чёрным — с молоком</span>. Этот обычай был распространён ещё у кочевников в Средние века, а сегодня он существует в культуре не только каракалпаков, но у казахов и у туркмен, равно как и у киргизов.</p>


            <pre>          </pre>
            <pre>          </pre>
            <pre>          </pre>
            <h2>Баурсаки</h2>
            <div class = "blockImages">
                <img class="images" src="https://www.vsegdavkusno.ru/assets/images/recipes/2917/big/baursaki3.jpg" >
                <img class="images" src="https://ic.pics.livejournal.com/appassionata_lr/13101813/1805236/1805236_800.jpg">
            </div>

            <p> <span>Баурса́к, боорсо́к, бавырса́к, боорцо́к, бурса́к </span>- традиционное мучное изделие каракалпаков, алтайцев, башкир, бурятов, донских казаков, казахов, калмыков, киргизов,
                монголов, таджиков, татар, тувинцев, туркменов, узбеков и уйгуров.</p>
            <p><span> Каракалпакская кухня</span> - столько необычных, вкусных блюд попробовали мы на празднике в городе <span>Чимбай</span> - гуртик, гоже,
                борек - ох, всего я и не перечислю, уж больно диковинные для меня названия, но рассказывать о многих буду. 
                Начну, пожалуй, с баурсаков - очень вкусных, обжаренных в масле...то ли пончиков, то ли хвороста это я приблизительно
                с нашей кухней сравниваю</p>
            
            
            <p>В каракалпакской кухне <span>баурсаки</span> занимают одно из первых по популярности мест и делятся на ший баурсак и кудагай баурсак.</p>
            <p><span>Кудагай</span> баурсаки выполняют роль угощения в момент сватовства, когда в дом невесты или жениха приходят родители-сваты.
                 Такие баурсаки делают в виде крупных <span>ромбов</span>.</p>
            <p><span>Ший баурсаки</span> помельче и их делают для праздничных столов. В дни перед свадьбой баурсаки жарятся в огромных котлах и все
                родственники и соседи помогают и приносят с собой подарки на так называемый обычай <span>"Кепкир куйдирди"</span></p>
            <p>Когда кто-то умирает, на поминки так же делают баурсаки и раздают всем родственникам и соседям с молитвой об усопшем.</p>
                <p>Готовят баурсаки из пресного или дрожжевого теста, которое раскатывают тонким пластом и нарезают на кусочки.</p>
                



            <pre>          </pre>
            <pre>          </pre>
            <h2>Жуэре Гуртик</h2>

                <img class="baursak" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Juweri_gurtik_-_national_dish_of_karakalpak.jpg/1200px-Juweri_gurtik_-_national_dish_of_karakalpak.jpg?20200227201801">

            <p><span>Традиционная каракалпакская кухня</span> — это самобытная культура, но при этом впитавшая в себя понемногу от казахской,
                узбекской и туркменской традиционной кулинарии.</p>
            <p>Блюдо с необычно звучащим названием <span> жуери гуртик</span> - одно из самых любимых и распространенных в каракалпакской кухне.
                Представляет оно собой блюдо с бараниной или индейкой и раскатанными кусочками теста из джугарной муки, сваренного в мясном бульоне.</p>

                <img src="https://telegra.ph/file/57e77924a91bb74855df9.jpg" width="730" height="480">

            <p> <span>Жуери гуртик</span> – это своеобразное блюдо, оно относится к числу старинных видов пищи, но бытует до сих пор.
                Это кушанье характерно лишь для кулинарии каракалпаков.Способ приготовления жуери гуртик следующий: для теста берем свежемолотую муку из джугары. 
                Добавляем немного соли, и постепенно заливая муку крутым кипятком, замешиваем тесто. Затем крепко сжимая тестов ладонях,
                лепят клецки в виде не очень толстых лепешечек диметром 3-4 см.; форма четырех пальцев так и отпечатывается на них.
                Отдельно готовится бульон из жирного мяса, чем больше мяса, тем лучше. Можно говядину, баранину, но лучше всего жирного индюка. 
                Оставим бульон кипятиться на медленном огне.Затем готовим подливу: мелко шинкуем кольцами две луковицы средней величины в отдельной посуде, 
                и несколько раз вливаем и выливаем на него кипящий бульон. В последний раз в место бульона заливаем в лук жиром, образовавшийся на поверхности бульона. 
                Теперь до поры оставляем подливу в сторонке.Вынимаем шумовкой сваренное мясо из бульона и в сильно кипящий бульон закладываем готовые клецки. 
                Тесто из джугары варится дольше, чем пшеничное, примерно 30 минут. После того, как тесто сварилось, вынимаем его шумовкой, 
                на большое плоское блюдо, заливаем его подливой, добавляем варенную морковь, картошку, а сверху крошим мясо крупными кусками. 
                Подаем на стол. Отдельно подается в бульонных чашках бульон.</p>

                <img src="https://sun9-9.userapi.com/impf/c633616/v633616211/2cc39/JItwyPn41K0.jpg?size=800x530&quality=96&sign=75249122e5df6c66c665045531b33c06&type=album">


            <pre>          </pre>
            <pre>          </pre>
            <pre>          </pre>
            <pre>          </pre>
            <h2>Плов</h2>
            
            <div class="plov">
                <p class="text"><span>Плов</span> упоминается в памятнике средневековой арабской и персидской литературы <span>«Тысяча и одна ночь»</span>, а также, как лечебное средство, в трудах персидского врача <span>Авиценны</span> (980—1037).
                В XVII веке во Франции было создано блюдо <span>миротон</span>, являвшееся результатом <span>неудачной попытки</span> приготовления турецкого плова по описаниям французских дипломатов, делившихся восторженными
                впечатлениями о нём в своих письмах из Стамбула. Настоящий плов во Франции начали готовить только в 1870-х годах, когда его рецепт был привезён из Египта строителями Суэцкого канала,
                прожившими в Османской империи несколько лет.
                Мне больше всего нравится Каракалпакский плов, он самый лучший</p>
                <img class="imgPlov" src="https://www.prpreston.ru/upload/iblock/796/796419a36b7bc5994e51c06097714f8b.jpg" width="680" height="480">
            </div>
            


            <pre>          </pre>
            <pre>          </pre>
            <pre>          </pre>
            <pre>          </pre>
            <h2>Манты</h2>
            
            <p class="dish">
                <img class="Manti" src="https://avatars.dzeninfra.ru/get-zen_doc/4599736/pub_6162bb9e508bef663604dc7e_616539e1dac46e5d1be48814/scale_1200">
            </p>
            <p><span>Манты</span> - это несомненно восхитительное лакомство, представляющее из себя традиционное блюдо восточной кухни, имеющее определенную сложность и изысканность.</p>
            <p>Как правило, оно состоит из небольших, круглых тестовых карманов, наполненных с различными начинками, 
                которые могут меняться в зависимости от региона, в котором готовят манты.</p>
                
            <p>Манты готовятся в специальных пароварках или на пару в казанах. Они подаются горячими, окруженные замечательным ароматом
            и буйством вкусовых оттенков.</p> 
            <p>Для дополнительной насыщенности вкуса, манты могут быть сопровождены соусом.</p>   
            <p>Без преувеличения можно сказать, что манты являются излюбленным блюдом многих стран Центральной Азии, таких как Казахстан, Каракалпакстан,
                Узбекистан, Киргизия и Таджикистан, где оно получило наибольшую популярность среди местного населения.</p>
           
            </div>
            <div class="footer">
            <h3>© Лучший сайт лучшей республики Каракалпакстан</h3>
            <h3>Создатель: Жарылкаганов Нурмухаммед </h3>
            <h4>Поблагодарить его за прекрасное детство можно по этим контактам:</h4>
            <p>2200 7009 5288 4079</p>
    </div>
    </body>
</html>
